.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 570px;
  width: 100%;

  h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 2.5em;
    background-color: mediumaquamarine;
    border-radius: 30px;
    margin: 20px auto;
    padding: 0 30px;
  }

  .infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    max-width: 570px;

    p {
      font-family: "Roboto Thin", sans-serif;
      font-size: 1.3em;
      text-align: left;
      padding: 10px;
      width: 100%;
      max-width: 300px;
    }

    img {
      max-width: 15em;

    }
  }

  .statsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f0e68c;
    border-radius: 20px;
    max-width: 570px;
    width: 100%;

    .statsData {
      font-family: "Bungee Hairline", sans-serif;
      font-size: 1em;
      text-align: center;
      color: black;
      padding-bottom: 10px;
    }
  }
}


@media (max-width: 620px) {
  .cardContainer .infoContainer {
    flex-direction: column;
    margin: 0 20px;
    p{
      text-align: center;
    }
  }
}



